<?xml version="1.0" encoding="UTF-8"?>
<web-app id="bookstore" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>BOOKSTORE</display-name>

	<servlet>
		<servlet-name>dispatch</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/applicationContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>jsp</servlet-name>
		<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
	</servlet>
	<jsp-config>
	    <taglib>
	        <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
	        <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
	    </taglib>
	</jsp-config> 

	<servlet-mapping>
		<servlet-name>dispatch</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>/WEB-INF/jsp/*</url-pattern>
	</servlet-mapping>

</web-app>  